*{
    font-family: Avenir, sans-serif;
    padding: 15px;
    margin: 1%;
    text-align: justify;
    box-sizing: border-box;
}

body{
    background: #cecece;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
header{   
    display: flex; 
    flex-flow: column wrap;
    width: 100%;
    padding: 20px 0px;
    background: url("");
    box-shadow: 0px 0px 15px #6f00ff81;
}
h1{

}
